.btn {
  background-color: white;
  color: red;
  font-size: larger;
  border-radius: 3px;
  border-color: black; }
  .btn:hover {
    background-color: red;
    color: white; }

.btn {
  background-color: #068f06;
  color: white;
  font-weight: 700; }

.card {
  -webkit-box-shadow: 5px 18px 41px -14px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 5px 18px 41px -14px rgba(0, 0, 0, 0.83);
  box-shadow: 5px 18px 41px -14px rgba(0, 0, 0, 0.83);
  transition-duration: 500ms; }

.card:hover {
  transform: scale(1.2); }

.col {
  justify-content: flex-start; }

.nav-item {
  background-color: violet;
  color: black;
  font-size: large;
  font-weight: 700; }

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.footer {
  margin-top: auto; }

.texto {
  text-align: center;
  line-height: 1.4rem;
  font-size: 1em;
  max-width: max-content; }

h1 {
  text-align: center;
  font-size: 500%;
  color: red;
  font-style: initial;
  text-shadow: orangered 0.1em 0.1em 0.2em; }

h2 {
  color: yellow;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-style: italic;
  font-size: 3rem;
  font-weight: 700;
  text-align: center; }

.empresa {
  color: #ec1aec;
  font-size: 3rem;
  font-weight: 700; }

h3 {
  color: orangered;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.precios {
  color: #530253;
  font-size: 32px;
  font-weight: 700; }

.descuentos {
  color: #07b407;
  font-weight: 500; }

.formularios {
  background-color: papayawhip;
  color: blue;
  font-style: oblique;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.c-primario {
  color: #117fdf; }

.c-secundario {
  color: #da17af; }
