h3{
    color: violet;
    font-size:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    background-color: grey;
    color: red;
    font-size: larger;
    border-radius:3px ;
    border-color: black;
}
h2{
    color: brown;
    font-style: italic;
    font-size: 3rem;
}
