@import"componentes/btn";
@import"componentes/card";
@import"componentes/col";
@import"componentes/nav";
@import"componentes/body";
@import"componentes/footer";
@import"tipografia/texto";
@import"tipografia/h1";
@import"tipografia/h2";
@import"tipografia/h3";
@import"tipografia/precios";
@import"formulario/formularios";
$color-primario: #117fdf;
$color-secundario: #da17af;

.c-primario{
    color:$color-primario;
}
.c-secundario{
    color:$color-secundario;
}
