h2{
    color: yellow;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-style: italic;
    font-size: 3rem;
    font-weight: 700;
    text-align:center;
}
.empresa{
    color: rgb(236, 26, 236);
    font-size: 3rem;
    font-weight: 700;
}